/* This is a hack to deal with the effects of scrollbars
 on auto margins for the centered div for pages that are
 require a scrollbar (the center position changes slightly
 between pages that require scrollbars and those that dont */
body {height: 100%}
html {height: 100%; margin-bottom: 1px;}

body {
    background-color: #FFFFFF;
    font-family: Georgia, Verdana, sans-serif;
    font-size: 1.0em;
    color: black;
}

h1, h2, h3 {
    color: black;
}

h1, h2 {
    margin: default;
}

h3 {
    margin-top: 10px;
}

h4 {
    margin-left: 20px;
}

h4.name {
    text-align:center;
    font-size: larger;
}

h4.program {
    margin-left: 20px;
    margin-bottom: 10px;
}

ul{
    list-style-position: inside;
}

p {
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

p.name {
    #font-size:larger;
    text-align:center;
}

p.affiliation {
    font-size:smaller;
    text-align:center;
    line-height: 0%;
}

p.abstract {
    font-size:smaller;
    #text-align:center;
    #line-height: 0%;
}

li {
    margin: 5px 0px 0px 0px;
}

a:link {
    #color: #2196F3;
    color: #469AF8;
    text-decoration: none;
}

a:visited {
    color: #3F51B5;
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

a:hover {
    #text-decoration: underline;
    color: #ff6633;
}


.floatright {
    float: right;
    margin: 40px 20px 10px 20px;
}

.floatleft {
    float: left;
    margin: 0 20px 10px 0;
}

.clearfix {
    overflow: auto;
    margin-top: 20px;
}

h4.clearfix {
    margin-top: 0px;
    margin-left: 20px;
}


.clearboth {
    clear: both;
}

.thumbnail {
    #width: 150px;
    #height: 125px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    zoom: 1
}


.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

div.mediacolumn {
    float: left;
    width: 310px;
    padding: 0px;
    margin: 10px 25px 25px 25px;
}

img.mediacolumn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.mediarow {
    height: auto;
    padding: 10px;
}




#container {
    background-color: #FFFFFF;
    max-width: 1250px;
    margin: 0 auto;
}


#header {
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
    overflow: auto;
    text-align: center;
}

#header h1 {
    #font-family: sans-serif;
    color: #333333;


}


#menu {
    margin: 0px 0px 0px 0px;
    #padding: 10px 10px 10px 10px;
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
    overflow: auto;
}



#sidebar {
  width: 200px;
  position: fixed;
  margin-left: 50px;
  padding-top: 25px;
}

#sidebar ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
}


#sidebar li {
    margin: 15px 0px 0px 0px;
    font-size: larger;
}

#menu a {
	display: block;
	padding: 5px 25px;
	text-decoration: none;
	#text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	color: #333333;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .active a {
	background: #F1F1F1;
	color: #333333;
}

#code li {
    margin-top: 10pt;
    margin-bottom: 10pt;
}

.centercontainer {
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 600px;
    #font-size: 0.1px; /* IE 9/10 fix */
}

.centercontainer:after {
  content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}

.section {
    margin: 0px auto;
    margin-left:250px;
    padding: 10px 10px 10px 10px;
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
    overflow: auto;
    max-width: 900px;
}

.centered-section {
    margin: 0px auto;
    #margin-left:250px;
    padding: 10px 10px 10px 10px;
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
    overflow: auto;
    max-width: 750px;
}

.research-section {
    margin: 0px 0px 0px 0px;
    padding: 30px 10px 30px 10px;
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
    overflow: auto;
}

.research-section h3 {
    margin-bottom: 7pt;
}

.research-section h4 {
    margin-top: 0;
    #font-size:smaller;
    font-weight: lighter;
}

.research-section p {
    margin-left: 0px;
    margin-right: 0px;
}

.research-section-media {
    float: right;
    width: 400px;
    margin: 0 0 30px 30px;
}

.research-section-description {
    font-size: smaller;
    text-align: justify;
    #margin-right: 405px;
    #float: right;
    #width: 400px;
    #margin: 0 0 10px 20px;
}

.research-section-references {
    margin-top: 30px;
    #font-size: smaller;
}


.teaching-section {
    margin: 0px 0px 0px 0px;
    padding: 30px 10px 30px 10px;
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
    overflow: auto;
}

.teaching-section h3 {
    margin-bottom: 5pt;
    font-size:100%;
}

.teaching-section h4 {
    margin-top: 0;
    #font-size:smaller;
    font-weight: lighter;
}

.teaching-section p {
    margin-left: 0px;
    margin-right: 0px;
}

.teaching-section-description {
    font-size: smaller;
    text-align: justify;
    #margin-right: 405px;
    #float: right;
    #width: 400px;
    #margin: 0 0 10px 20px;
}


.sectionheader {
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 100px 10px;
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
    overflow: auto;
    text-align: center;
}

#footer {
    margin: 0px auto;
    margin-left: 250px;
    padding: 10px 10px 10px 10px;
    border-bottom-width: 10px;
    border-bottom-color: black;
    border-bottom-style: none;
    font-size: smaller;
    max-width: 900px;
}

#centered-footer {
    margin: 0px auto;
    padding: 10px 10px 10px 10px;
    border-bottom-width: 10px;
    border-bottom-color: black;
    border-bottom-style: none;
    font-size: smaller;
    max-width: 750px;
}


.center {
    margin: 0 auto;
}

.center p {
    text-align: center;
}

.center h4 {
    text-align: center;
}

.center_img {
    text-align: center;
    display:inline-block;
    margin:0px 1px 0px 1px;
    padding:0px;
}



address {
    font-style: default;
}

.abstract {
    font-style: italic;
}

.title {
    font-style: italic;
    fot-size: smaller;
}

.author {
    #font-style: italic;
}

.showcase {
    font-weight: bold;
}

.caption {
    font-size: smaller;
    margin-top: 0px;
}







/* The following are settings for bibtexbrowser */

/* title */
.bibtitle { font-weight:bold; }
/* author */
.bibauthor { /* nothing by default */ }
/* booktitle (e.g. proceedings title, journal name, etc )*/
.bibbooktitle { font-style:italic; }
/* publisher */
.bibpublisher { /* nothing by default */ }

.bibanchor {display:none;} /* disables the index [1] or [Name2010], etc. depending on the value of the configuration value ABBRV_TYPE and BIBTEXBROWSER_LAYOUT */

/* 1st level headers, equivalent H1  */
.rheader {
  color: #003366;
  font-size: large;
  font-weight: bold;
}

/* 2nd level headers, equivalent H2  */
.sheader {
  font-weight: bold;
  background-color: #003366;
  color: #ffffff;
  padding: 2px;
  margin-bottom: 0px;
  margin-top: 7px;
  border-bottom: #ff6633 2px solid;

}

/* 3rd level headers, equivalent H3  */
.theader {
  background-color: #995124;
  color: #FFFFFF;
  padding: 1px 2px 1px 2px;
}

.bibanchor {display:none} /* disables the index [1] or [Name2010], etc. depending on the value of the configuration value ABBRV_TYPE and BIBTEXBROWSER_LAYOUT */
.sheader {display:none} /* disables the year header e.g., 2001 */

.btb-nav-title {
  background-color: #995124;
  color: #FFFFFF;
  padding: 1px 2px 1px 2px;
}

.menu {
  font-size: x-small;
  background-color: #EFDDB4;
  padding: 0px;
  border: 1px solid #000000;
  margin: 0px;
}
.menu a {
  text-decoration: none;
  color: #003366;
}
.menu a:hover {
  color: #ff6633;
}

dd {
  display: inline; /* for <dt> if BIBTEXBROWSER_LAYOUT='definition' */
}

.bibitem {
  margin-left:5px;
}

.bibref {
  padding:7px;
  padding-left:15px;
  vertical-align:text-top;
  display: inline; /* for <dt> if BIBTEXBROWSER_LAYOUT='definition' */
}

.bibmenu {
    display: block;
}

.result {
  #border: 1px solid #000000;
  margin: auto;
  background-color: #ffffff;
  width:100%;
}
.result a {
  text-decoration: none;
  color: #469AF8;
}

.result a:hover {
  color: #ff6633;
}

.input_box{
  margin-bottom : 2px;
}
.mini_se {
  border: none 0;
  border-top: 1px dashed #717171;
  height: 1px;
}
.a_name a {
  color:#469AF8;
  width:130px;
}

.rsslink {
  text-decoration: none;
  color:#F88017;
/* could be fancy, see : http://www.feedicons.com/ for icons*/
  /*background-image: url("rss.png"); text-indent: -9999px;*/
}

.purebibtex {
  font-family: monospace;
  font-size: small;
  border: 1px solid #DDDDDD;
  background: none repeat scroll 0 0 #F5F5F5;
  padding:10px;

  overflow:auto;
  #width:600px;

  clear:both;
}
.bibentry-by { font-style: italic; }
.bibentry-abstract { margin:15px; }
.bibentry-label {
    margin-top:15px;
    margin-bottom:15px;
}
.bibentry-reference {
    margin-bottom:15px;
    padding:10px;
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #DDDDDD;
}

.btb-nav { text-align: right; }


table {
    padding-left: 20px;
}

td {
    padding-bottom: 15px;
    padding-right: 30px;
}

td.time {
    white-space: nowrap;
}

td.details {
}
